[2020-05-07 21:09] blerchin opened #3 "Gather requirements and mockup for each artist page"
Artist pages will be some configuration of these elements. If artists do not submit a mockup, any images and text submitted will be arranged according to the judgment of the designers.

![project-page-wireframe-01](https://user-images.githubusercontent.com/1322328/81344813-5418ca80-906c-11ea-8d3f-59d1f9789484.png)

[2020-05-07 21:10] blerchin opened #4 "Build React components for project page modules"
![project-page-wireframe-01](https://user-images.githubusercontent.com/1322328/81344891-71e62f80-906c-11ea-8f4f-150850bc0bf0.png)

[2020-05-07 21:10] blerchin opened #5 "Cross-browser and mobile testing"

[2020-05-07 21:12] blerchin opened #6 "Add routing to artist pages"
* establish patterns for routing to artist pages
* make a boilerplate template for each artist

[2020-05-07 21:12] blerchin opened #7 "Make blobs clickable"

[2020-05-07 21:12] blerchin opened #8 "Allow hidpi display of simulation on mobile Retina displays"

[2020-05-07 21:14] blerchin opened #9 "Build artist pages"
Assemble modules in a react page for each artist
Currently blocked by #3 #4 #6 #7

[2020-05-07 21:16] blerchin opened #10 "Finalize design comps"
Generate high fidelity composites for the following page templates:
- Home page
- About page/curatorial statement
- Artist page (modular)

[2020-05-07 21:19] blerchin opened #11 "Accessibility audit"
Including:
* usability via screen reader
* keyboard accessibility
* distinguishable colors
* resizing text
* captions for images and videos

[2020-05-07 22:58] lmccart commented on #9
I can take this one

[2020-05-08 04:56] blerchin commented on #7
Blobs are now clickable, however I am leaving this ticket open for future improvements in the transition to artist pages.

[2020-05-08 04:56] #6 closed

[2020-05-08 16:11] brysonian commented on #4
I can take this one.

[2020-05-12 17:03] dalena commented on #10
Final comps here
https://drive.google.com/drive/folders/1t0EqMwWyXHWNc7vNHoMbGIFMERWzE3hl?usp=sharing

[2020-05-12 18:01] brysonian commented on #10
Great, not sure who will implement in the end, but can you list the fonts and sizes? Since it is all PNG we can't see that info. thanks!

[2020-05-12 18:02] lmccart commented on #10
@dalena Possible to post illustrator files or whatever tool you're using?

[2020-05-12 23:37] lmccart commented on #11
I can help with this one

[2020-05-13 23:33] lmccart commented on #3
@blerchin @dalena What do you think about us just laying out a best guess for each person based on content and then asking them to review and request adjustments? I'm wondering if asking each person to make a mockup might just hold up responses because it feels like a bigger task. It's relatively trivial to switch from one column to two, etc. And it might be easier to make those decisions after se

[2020-05-13 23:47] dalena commented on #10
I'm using Poppins for 1st lvl header and LetterGothicStd for body and secondary headers. Added them to fonts folder in the shared drive. FYI the fonts are still tentative. @beelaineo is deciding on the fonts. Re: illustrator files, I did it a hacky way and didn't make several canvases for the mockups this time. But I'll work on that tonight and add it to the drives. I'll ping you all when that's r

[2020-05-13 23:52] lmccart commented on #3
I made a quick draft of a form to collect content here:
https://docs.google.com/forms/d/1UTFRaXHlM4621jp3B1w3MPCy6FlBkz16cTZZ-dC0Jew/edit

I'll also share with you all so you can edit directly. If someone else had another solution in mind for gathering content, we can scrap this. Just wanted to get something simple started if there was no other plan in action.

[2020-05-14 00:00] dalena commented on #3
@lmccart I think this is a good call. There are several people who still haven't responded with mockups. However, some people have sent me their layout ideas already. So you'll receive them in an AI file, that should also help!

[2020-05-14 00:00] dalena commented on #3
This form is great. Thank you for doing that Lauren. I will send this to the group now

[2020-05-14 02:08] dalena commented on #10
Just added the illustrator files to their respective folders: project-sub > desktop, project-sub > mobile, chat. The homepage and info I don't have AI files for but I can explain if it's not already clear from the screenshots in their folders.

[2020-05-14 02:10] lmccart commented on #10
great, thank you!

[2020-05-15 04:10] blerchin opened #16 "When viewing artist pages, cannot click content through blob overlay"

[2020-05-15 04:11] blerchin commented on #8
no longer applies because we are using paper the way it wants to be used :)

[2020-05-15 04:11] #8 closed

[2020-05-15 04:13] blerchin opened #17 "Style front page (blobs) to match mockups"

[2020-05-15 16:33] blerchin commented on #16
looks like @hsab took on this one

[2020-05-15 16:33] #16 closed

[2020-05-15 17:15] blerchin opened #18 "Names inside of blobs on mobile"

[2020-05-15 17:16] blerchin opened #19 "Collapse animation is hidden by shrinking canvas"

[2020-05-15 17:19] hsab commented on #19
I genuinely think we don't need to spend time on this. It's gonna be dirty and time consuming.

[2020-05-15 17:28] blerchin opened #20 "Build info page"
![info-default](https://user-images.githubusercontent.com/1322328/82078827-a5d9da00-9696-11ea-8099-d3b0efccb0e7.png)

[2020-05-15 17:58] blerchin commented on #19
I'll take a crack at this and see how it goes. If it turns out to be a ton of work I'm ok with nixing it.

[2020-05-15 18:14] #7 closed

[2020-05-15 18:16] blerchin commented on #20
Erkki will submit draft of statement 5/21. Final 5/26.

[2020-05-18 06:35] lmccart commented on #9
Hello, working on this now. Two questions about hosting media files.

What do you want to set as the max image file size? I set the form limit to 1MB each but a lot of people sent them as gdrive links because they were too big. These images are much bigger than needed. It would be helpful to send a general email letting people know a suggested file max size and dimensions, and pointing them toward

[2020-05-18 07:34] lmccart commented on #9
I'm working on this in the artist-pages branch. If you would like to preview the pages with media, you can download the assets zip [here](http://files.lauren-mccarthy.com/transfer/assets.zip) and drop it in the `work/` directory.

[2020-05-18 16:47] blerchin commented on #9
Hmm, I think best practice these days is to use `srcset` to provide a couple versions of each image. 1280w very compressed on mobile viewport, 2400w+ high quality on desktop with a wide viewport, maybe something in between. I realize it would be a nightmare to have all artists do this and try to share images in a consistent format. In theory it's possible to have webpack do the work, but when I've

[2020-05-18 18:28] hsab commented on #9
Hey just chiming in on this. but after looking around a bit I found this nice pkg called [responsive-loader](https://github.com/dscafati/responsive-loader)[fyi this link is a fork of the original] for webpack. It uses sharp which is significantly faster than node-imagemagick or jimp. Works in css and react components and overall seems to be pretty easy to integrate.

[2020-05-18 18:40] brysonian commented on #9
I think for now maybe use the Image component and then we can modify the markup that it generates and integrate responsive loader.

[2020-05-18 19:14] blerchin opened #21 "Add Nav overlay"

[2020-05-18 19:15] blerchin commented on #21
![Screen Shot 2020-05-18 at 12 15 17 PM](https://user-images.githubusercontent.com/1322328/82250961-42071980-9901-11ea-96fb-f8ab38daf7c5.png)

[2020-05-18 19:30] blerchin opened #22 "Make image component responsive"
https://github.com/blerchin/dma-20-mfa-show/issues/9#issuecomment-629976186

Due to varying needs of users on different devices, we should serve several sizes of images via `srcset`. This requires converting artist images to several different versions. This can be created either through a script that converts images in the repo to different versions, or by using [`webpack-responsive-loader`](https

[2020-05-18 19:32] blerchin commented on #9
Sounds good. I made an issue for adding responsive images.
I am nervous about responsive-loader because the original version doesn't seem to be actively maintained (is it even compatible with webpack 4?) But if it works, that would definitely be ideal.

[2020-05-18 20:03] hsab commented on #9
fixed this in the [artist-pages](https://github.com/blerchin/dma-20-mfa-show/tree/artist-pages) https://github.com/blerchin/dma-20-mfa-show/commit/5e310f075f9c561c5e01a25a6ae176d270d88f9f
make sure to rerun `npm install`

[2020-05-18 20:04] hsab commented on #22
fixed this in the [artist-pages](https://github.com/blerchin/dma-20-mfa-show/tree/artist-pages) https://github.com/blerchin/dma-20-mfa-show/commit/5e310f075f9c561c5e01a25a6ae176d270d88f9f
make sure to rerun `npm install`

[2020-05-18 20:09] brysonian commented on #22
Out of curiosity, why the background image vs object-fit? Also @blerchin is there a preference for objects or hooks?

[2020-05-18 20:11] blerchin commented on #9
@hsab let's leave this open until the PR is merged. Build is still failing on netlify.

[2020-05-18 20:16] blerchin commented on #22
I am also curious about the background image.
I prefer hooks in most cases. This looks like a case where it would be easy to switch. Occasionally for complex components the class style works better. That said, I realize there is a learning curve so I'm not going to be pedantic about it.

[2020-05-18 20:17] blerchin commented on #22
@hsab I think it would be preferable to have this as a separate PR so we can discuss the implementation aside from lauren's work on the pages

[2020-05-18 20:20] hsab commented on #22
@brysonian This is the first time I'm hearing about object-fit.
But just to explain my train of thought: the module creates a placeholder image, a resized version @50x50px. I basically set the bg image to this placeholder until the actual image is loaded. Once loaded I remove the bg image. Removal is so that transparent images don't have the 2 images overlayed, it was making this blurry edge artif

[2020-05-18 20:27] hsab commented on #22
@blerchin I was looking at hooks. And it seems like that's actually what I'm using. Sorry for my react illiteracy but can you send me some links to clarify "This looks like a case where it would be easy to switch (to hooks or something else?). Occasionally for complex components the **class style** works better."

[2020-05-18 20:30] brysonian commented on #22
I can rewrite it as hooks if you are curious, but it is fine like this. Also i didn't mean the questions to be challenging, just trying to learn from y'all too.

[2020-05-18 20:30] blerchin commented on #22
All good, it is a relatively new feature so a lot of sample code is implemented in the old style.
Basically react components can be functions or classes. It used to be the case that you could only use features like state, refs, and callbacks if you wrote your component as a class. Hooks allows you to use all these features from a function-style component. Due to the way it's implemented it prevent

[2020-05-18 20:33] blerchin commented on #22
btw I did some device spot-testing and the responsive-loader stuff seems to be working great. So remaining qualms are just nitpicks :)

[2020-05-18 20:37] hsab commented on #22
@brysonian no challenge at all. it was appropriate. I'm just gluing things together so the question is actually much appreciated to ensure code sanity. I'll take it as a challenge to rewrite in class-less hook style.

@ben makes sense ;) For now I'm assuming hooks = objects with react class features

[2020-05-18 20:45] blerchin commented on #22
@hsab not sure what you mean by objects with react class features
I mean, technically a function is an object because javascript but I don't think that's what you mean =P

Sniff test would be... do you write
[code]
or
[code]
at the beginning.

With the latter if you wanna use state it will have to be with hooks.

[2020-05-18 20:48] brysonian commented on #22
this is a quick stab at the image using hooks. (note this has only been run in my head, without a linter, so there might be things i missed) https://gist.github.com/brysonian/d688cbc6e7da55340d5681cc3c873ee9

[2020-05-18 21:27] hsab commented on #22
@blerchin `technically a function is an object because javascript` that's what I meant ;)

@brysonian https://github.com/blerchin/dma-20-mfa-show/commit/09f2666c2bfd9ec2cb3f5eef3b764227f74bdf23 I basically copy pasted your initial Image component and added the hook. Two questions...

~~Is there is difference between `const [showBG, setShowBG] = **useState**(true);` and `const [showBg, setShowBg] =

[2020-05-18 21:39] blerchin commented on #22
`setState` is not a thing in hooks. you only use the setter that gets output by `useState`

the stack overflow is because you've created an infinite loop.
That callback is getting called every the render function gets called. Then setShowBg triggers a new render because it changed state.

generally you want to use a closure there that will call `setShowBG`. That's what `() => setShowBg(false)` doe

[2020-05-18 21:48] hsab commented on #22
Right I asked bc of [this line](https://gist.github.com/brysonian/d688cbc6e7da55340d5681cc3c873ee9#file-image-js-L19) in the gist. I'm using `useState` in the code, based on the react intro link you sent earlier.

Yeah the overflow makes sense as to how but not why. I'm just trying to understand why. `setShowBG` changes the state, that's a given. I'm trying to wrap my head around why it behaves di

[2020-05-18 21:50] blerchin commented on #22
If you wanna hop on a call for a couple mins I could probably explain this stuff faster that way

[2020-05-18 22:15] brysonian commented on #22
ahh sorry, i knew i'd blow it somehow!

When you do: onLoad={setShowBG(false)} it actually runs setShowBg() when the component mounts, which sets the bg, which triggers a re-render, which does the same thing etc. Also we can chat on slack if you like, or a telegram etc.

[2020-05-19 03:20] brysonian opened #26 "Code Split Artists"
Bundle is gonna get pretty big otherwise.

[2020-05-19 17:58] hsab opened #30 "Remove liquidfun dependency for builds"
~730kb

https://github.com/blerchin/dma-20-mfa-show/blob/2608f191f5553d5fb6c78bbb9dd99f1e0070cde7/public/index.html#L33

Is is necessary to comment this out too?
https://github.com/blerchin/dma-20-mfa-show/blob/2608f191f5553d5fb6c78bbb9dd99f1e0070cde7/config/webpack.config.js#L613-L615

[2020-05-19 18:04] hsab opened #31 "favicon"
- Favicon for Desktop Browsers and Google Result Pages
- Favicon for iOS - Web Clip
- Favicon for Android Chrome
- Windows Metro
- macOS Safari
- Windows browserconfig.xml
- Web app manifest

Can cook all of this with https://realfavicongenerator.net/
Not sure if react has faculties to do so, but I assume rule 34 applies to npm/react packages as well

I made some for the temp page if it can be of

[2020-05-19 18:10] #22 closed

[2020-05-19 18:10] #21 closed

[2020-05-19 18:11] blerchin commented on #19
#29

[2020-05-19 18:11] #19 closed

[2020-05-19 18:20] #26 closed

[2020-05-19 19:42] #30 closed

[2020-05-20 01:13] hsab commented on #31
521bc0764587985a2da8c64bc52d894487fbf47b

[2020-05-20 01:13] #31 closed

[2020-05-20 01:58] blerchin opened #39 "labels do not always appear when collapsed blobs are hovered"
This seems to apply only when the page has been visited via client-side routing. E.g: if I go directly to <https://kind-tesla-a088c1.netlify.app/ben-lerchin> it works. But if I go to the homepage and then click the Ben Lerchin blob, then hover over collapsed blobs it does not show up.

[2020-05-20 02:03] blerchin commented on #39
figured out the problem, it's a super annoying closure issue. Because of where `calculateStyle` is defined it refers to the `collapsed` variable from when the component was first mounted. So it doesn't know when `collapsed` has  changed.

[2020-05-20 02:16] hsab commented on #39
can we simply pass the current collapse value to `calculateStyle` as a func param?

[2020-05-20 02:18] blerchin commented on #39
yes, but if you try it you'll see it's not that simple. because also `onArtistHovered` does not have access to the latest `collapsed`
I have an idea how to solve. Will make a PR in a couple mins.

[2020-05-20 02:18] blerchin commented on #39
This covers the issue fairly well, though not the exact scenario here: https://dmitripavlutin.com/react-hooks-stale-closures/

[2020-05-20 04:33] hsab commented on #39
#40 closes

[2020-05-20 04:33] #39 closed

[2020-05-20 04:41] #10 closed

[2020-05-20 04:43] lmccart opened #42 "custom styling and integration of code for dalena page"
I've taken a quick first pass, but there's more to be done here.

from @dalena:

aitImg1 is my cover image and would like it to blur on scroll. aitImg2 is fixed beneath the cover image. The first four text objects in my work description, I would like to be arranged around the button that leads to my actual project page "VIEW ACTS IN TRANSLATION". The button is sticky and centered vertically and ho

[2020-05-20 05:33] hsab opened #43 "Open Graph meta tags dilemma"
Fb. Twitter. What else?

Seems like this will be an issue with artist pages:
"Since Create React App doesn’t support server rendering, you might be wondering how to make <meta> tags dynamic and reflect the current URL." [From](https://create-react-app.dev/docs/title-and-meta-tags/)

A solution might be [pre-rendering routes](https://create-react-app.dev/docs/pre-rendering-into-static-html-files/)

[2020-05-20 07:11] #9 closed

[2020-05-20 07:23] hsab commented on #43
Discussion at https://github.com/blerchin/dma-20-mfa-show/pull/45
Leaving this open for now.

[2020-05-20 23:19] dalena commented on #42
@lmccart thanks for putting most of this together! I'm gonna take on this issue right now and try to complete the styling/responsiveness. I will need help integrating my static site project files at a later date.

[2020-05-23 02:07] #43 closed

[2020-05-23 06:00] hsab opened #53 "Automatic scroll to top on route change"
Currently if an artist is viewed, and the user scrolled to middle/end of the page, upon clicking on another artist the scroll offset remains at the same spot. The correct behavior should be scrolling to the top of the page when routes change.

[2020-05-23 06:05] #42 closed

[2020-05-23 18:29] dalena opened #54 "Responsive Finishing Touches"
Here are some of the main changes for responsive design that I was able to audit for. Is anyone able to take this on?

- [x] Add padding to Artist Bio component for mobile to offset space for nav and blobs
![artist bio](https://user-images.githubusercontent.com/4734846/82737495-3727fc80-9ce6-11ea-9b86-37e644aabe9e.png)

- [x] Consider disabling fixed Project Header component for mobile screens to

[2020-05-23 19:15] lmccart commented on #11
I started looking at this one. Overall, we're in pretty good shape. Let me know if you have any comments, otherwise I will begin to implement. @brysonian would love your review on this list in case I missed anything.

* [x] Missing Miles alt text

* [x] I think the `<div className="title"></div>` elements should be converted to `<h1>`

* [x] Rather than using `<h3>Artist Name</h3><h2>Artwork Title

[2020-05-24 01:47] blerchin opened #55 "Link domain to deployment from this repo"
How is the landing page on <near.rest> hosted? How do we make it a one-click process to make the site go live on friday?

Best way I can think of switch it to the netlify project that is connected to this repo so it will be a one-click switch to make this go live when we are ready. We could put the current landing page site on a branch and host that on the domain, then switch netlify to deploy `ma

[2020-05-24 03:36] hsab commented on #55
Right now I'm just using the custom domain for github pages and serving from [`dma20-paper-test/master`](https://github.com/hsab/dma20-paper-test)

[DNS settings ](https://help.github.com/en/github/working-with-github-pages/managing-a-custom-domain-for-your-github-pages-site#configuring-a-subdomain) are pointing to github pages. I think netlify requires both adding dns records and reassigning the

[2020-05-24 03:47] blerchin commented on #55
Great, thanks! Let's hold off on this for the time being. I think we may want to switch back to Github Pages due to some issues with Netlify
- They make it really difficult to use Git LFS unless you use their proprietary version of it
- I am running out of build time on the free plan

A side benefit of the prerendering you've set up is that we actually can use GitHub pages now. The only issue befo

[2020-05-24 03:49] brysonian commented on #55
My offer to host still stands too! Won't cost me anything.

I was thinking of some combo of https://medium.com/peerigon/how-to-continuously-deploy-a-cra-using-github-actions-and-zeit-f7bbd3b60da3 and https://github.com/marketplace/actions/scp-files

I haven't used actions but i'm eager to.

[2020-05-24 04:16] dalena commented on #11
@lmccart regarding the focus elements, do you have an example website showcasing how it works? Is this regarding the blobs, buttons, or anything that is clickable?

[2020-05-24 04:19] brysonian commented on #11
It certainly would be best if there was a visual indicator as well for the artist nav. And i agree on the headers!

[2020-05-24 04:34] lmccart commented on #11
@dalena try this page: https://a11y-style-guide.com/style-guide/ press tab on your keyboard to see the focus outline move around. this is the default browser outline styling.

on this page https://p5js.org/ you can see a custom outline styling. it's generally better practice to leave the default outline rather than do custom, because it is more recognizable to users. but I think this kind of thing

[2020-05-24 05:01] hsab commented on #55
I'm personally a fan of GitHub pages. And yes with the pre-rendering we don't need to worry about routes anymore. I think their automatic compression, cdns, and all the behind the scene help with load time and performance. I'm not sure how lfs plays with pages though

[2020-05-24 05:02] hsab commented on #55
Just checked. Lfs doesn't work pages

[2020-05-24 05:05] blerchin commented on #55
@hsab yeah I guess it is a problem if we deploy files that are too big for git... to git. huh 🤔

[2020-05-24 05:06] blerchin commented on #55
@brysonian if you're up for doing a bit of scripting it would be great to have this deploy to a regular ole server somewhere
The one netlify feature I will miss a lot if we ditch it is the PR builds. Wonder if we could throw together something that replicates that function though.

[2020-05-24 05:09] blerchin commented on #55
Also possible to stay on Netlify while we are actively developing. I don't want to waste a lot of dev time on this project and it is looking increasingly like a yak shave. The increased build allowance runs about $45 so it's not super prohibitive.
I am personally about 50/50 on whether I actually need to host videos for my page. And if I end up needing it I could always just throw my video files o

[2020-05-24 05:19] blerchin commented on #55
Actually I just reread Netlify's email to me and we get another 500 build minutes for $7, which should get us through the next week. So let's not worry about the build time, I can eat that cost or maybe we can roll it into the show budget. But the LFS issues remain a concern.

[2020-05-24 05:30] hsab commented on #55
I like some of the functionalities we get with netlify. I appreciate @brysonian's offer but I haven't had that good of an experience with shared/private hosting particularly during high traffic which will likely be the case on Friday.

If your videos are <100 MB we can go ahead and use github pages. I think github pages is probably the high-yield-low-hanging solution. Doesn't require messing with

[2020-05-24 05:45] dalena commented on #11
@lmccart Ah I see, I think it's great to have focus elements! If we can do it for the artist nav, too then even better.

[2020-05-24 08:07] hsab commented on #55
Ok found a nice workaround for gh-pages/netlify!!! The trick is to not use the repo, but upload the video as releases! File size limit increases to 2GB, there is not limit on how many files we can upload, repo remains manageable as large media are decoupled from it, and everything remains in the same place. Netlify and all the other stuff should work as expected.

Embedding is as simple as setting

[2020-05-24 08:20] hsab commented on #55
I think with this hack we can just stick to netlify and use @blerchin's suggestion from https://github.com/blerchin/dma-20-mfa-show/issues/55#issue-623775670

[2020-05-24 14:45] lmccart commented on #55
Hello, just peeping in here. I'm worried about using a hack, I think it runs the risk of GitHub shutting it down because it's not in line with their guidelines for gh-pages. Most likely they wouldn't catch it, but you never know.

@blerchin I saw your comment in your PR thread about moving all videos off vimeo. I'm not sure this is worth the headache, especially if artists aren't requesting it. Yo

[2020-05-24 15:24] brysonian commented on #55
I'm not sure performance is a valid concern, but that's fine.

Either way, gh-pages isn't made for serving large media. Why not move the videos to something like https://cloudinary.com/ which will give you a CDN, better performance, and still be free. I had hesitated to recommend it because i didn't want to involve another service, but it is actually purpose built for this.

Another option is S3,

[2020-05-24 15:34] brysonian commented on #53
I'm a bit swamped on the sr show site, but this is a classic. RR4's solution is here: https://reacttraining.com/react-router/web/guides/scroll-restoration I'll try to get to it later today.

[2020-05-24 16:56] dalena commented on #54
I'm going to try tackling some of these today

[2020-05-24 18:07] blerchin commented on #55
yeah I was hoping the LFS thing would be a quick solution to a problem I was having, and then facilitate archiving down the road. I wasn't expecting we would use it for everyone's videos right away. Sorry if I scared anyone with this thread!
I agree the path of least resistance (keep using Netlify) is probably best for the moment.

I think using Cloudinary or S3 is probably a good solve for the mo

[2020-05-24 19:47] hsab commented on #55
All valid points. I don't think there's any issue with committing. From what I know only you and Dalena have self hosted videos, and hers is on a different repo. So we should be good.

@blerchin  When you get a chance can you please revert the netlify changes so we can get PR builds up and running again?

[2020-05-24 20:10] blerchin commented on #55
@hsab I fixed the netlify stuff this morning. Should be good to go again :)

[2020-05-25 06:16] blerchin opened #64 "404 page"
currently our "Not Found" page cannot be found

[2020-05-25 06:19] blerchin opened #65 "FOUT issue with NEARREST NEIGHBOR"
When I initially load the page, I see the show title in system font and wider than the actual title. About half a second later it reflows to the correct appearance.

We should delay rendering this until webfonts are loaded. This can happen by using `<link>` tags for our fonts instead of CSS imports, or by waiting for the load event in Javascript.

[2020-05-25 06:19] #55 closed

[2020-05-25 08:51] hsab commented on #65
The sizing issue comes from the static builder from what I can recall. During crawling it will harcode the width and height. I have it set so that on initial load it sets the w/h to the window size. We could hide it until the attributes are set and then display.
+1 for fonts

[2020-05-25 15:19] #53 closed

[2020-05-25 17:55] #54 closed

[2020-05-25 22:30] dalena opened #68 "Add Home/Info Nav to Homepage"
Adding the nav component to the homepage would be a good idea so people have a chance to read curatorial statement before jumping into the projects.

Also, regarding the initial mockups there were concerns to have a nav bar of artist names on homepage to make it easier for people to navigate to projects that they were already looking for or also so they don't have to use the blob feature. Is this

[2020-05-26 05:34] blerchin opened #72 "Crashes when zooming into project pages on iOS"
On my phone (iPhone 11 Pro) the device crashes (black screen, partial shutdown) when zooming in more than about 3x ~~over a video~~ anywhere on a project page. We should test more widely to see if this is isolated or common behavior. But best solution will probably be to limit user-scaling to a more reasonable extent.

Edit: this is extra-confusing because our viewport settings should not allow zo

[2020-05-26 05:41] blerchin commented on #72
According to SO, may be related to the off-screen positioning we are using to hide screenreader text
https://stackoverflow.com/questions/28700652/iphone-ipad-crashes-when-zooming

[2020-05-26 06:03] blerchin commented on #72
OK apparently iOS decided to ignore `user-scalable=no` a while back for (valid) accessibility reasons. There is a handy js hack here to limit scaling, but I'd rather just fix the crash
https://stackoverflow.com/questions/37808180/disable-viewport-zooming-ios-10-safari

[2020-05-26 06:50] blerchin commented on #72
This is in fact fixed by disabling the blur in ProjectCover. but... we don't want to do that.
Unfortunately iOS makes it almost impossible to detect current scale level, so it is difficult to mitigate it that way.
The issue is most likely related to this:
https://borncity.com/win/2018/09/17/css-vulnerability-crashes-iphone-safari-ie-and-edge/

[2020-05-26 07:37] blerchin commented on #68
Made a PR with the simplest possible layout option. I think it works alright, but open to other ideas.

https://github.com/blerchin/dma-20-mfa-show/pull/74

For the artist names on the side, I think they are redundant. I've found the rollover labels on the blobs when they are in the collapsed position to be totally adequate when I want to go to a specific artist.

[2020-05-26 08:16] dalena commented on #68
Sounds good to me, closing this issue!

[2020-05-26 08:16] #68 closed

[2020-05-26 09:01] #72 closed

[2020-05-26 22:39] #17 closed

[2020-05-26 22:39] #18 closed

[2020-05-27 19:50] BerfinA opened #82 "project cover obscured on mobile"
On my site there is a video that plays which is the first image. On the mobile it just skips it so you dont get to see the video at all.

[2020-05-27 19:55] mileshiroo opened #83 "Framerate very low on iPhone 6s"
Hello all,

The framerate is very low on my device, iPhone 6s. It seems to be just for the simulation / blob part, and not the other elements of the website. Not sure what's causing it but just wanted everyone to be aware that this is how the site might perform on slightly older devices.

Here is a screen recording that shows it:

https://www.youtube.com/watch?v=YeQSDl239E0

Miles

[2020-05-27 20:09] hsab commented on #83
Can you test with this?
https://hsab.github.io/dma20-paper-test/blobs.html

On Wed, May 27, 2020 at 12:55 PM Miles Peyton <notifications@github.com>
wrote:

[2020-05-27 20:12] hsab commented on #83
I have a suspicion that this is react related,  even on desktop there is a noticeable performance drop.

[2020-05-27 20:23] mileshiroo commented on #83
Yeah, that version is much more performant on my phone

[2020-05-27 20:27] blerchin commented on #83
@mileshiroo can you try this version https://deploy-preview-70--kind-tesla-a088c1.netlify.app/
it's from before we added the labels on mobile. Wondering if that is affecting performance.

[2020-05-27 20:49] mileshiroo commented on #83
@blerchin this is how it looks, it might be a little better but the transition where the blobs fall down is still pretty slow:

https://www.youtube.com/watch?v=_ci8gjmOwhI

[2020-05-27 20:54] lmccart commented on #82
good catch! i'll work on this

[2020-05-27 21:32] lmccart commented on #82
<img width="413" alt="Screen Shot 2020-05-27 at 2 30 17 PM" src="https://user-images.githubusercontent.com/191056/83074275-be4adc80-a026-11ea-9bf6-f2acbb70bc19.png">
<img width="412" alt="Screen Shot 2020-05-27 at 2 31 04 PM" src="https://user-images.githubusercontent.com/191056/83074287-c1de6380-a026-11ea-83db-d85a8f7cbbc8.png">

On mobile, the cover image/video is centered on the page, but it's

[2020-05-27 21:32] mileshiroo commented on #83
just a suggestion, but if it's not possible to improve the framerate would it be possible to disable the falling down transition if the framerate is detected to be below a certain threshold, and just have the blobs instantly go to the bar on the bottom when you click them? the low framerate is mainly an issue when the blobs obstruct the project page and home/info during the transition

[2020-05-27 22:01] blerchin commented on #83
Based on what I can tell from profiling this, the framerate is pretty good when React is not doing anything. In the simulator I'm running for 6s, I see about 50-60ms script execution per frame when React is doing nothing in the background, which is consistent with the paper demo. However when react is loading, or when we are shrinking the blobs, this drops to 120+ms per frame.
I think miles' solut

[2020-05-27 22:01] dalena commented on #82
I think that's a good call @lmccart

[2020-05-27 22:17] hsab commented on #83
I think fps profiling is a good option, especially for lower end devices in general. Although I could see unforeseeable bugs happening with this, we could def give it a try.

[2020-05-27 22:23] hsab commented on #83
@blerchin just had a look, blobs implementation makes it really easy to have immediate resizing.
Created a new branch [`blobs-immresize`](https://github.com/blerchin/dma-20-mfa-show/tree/blobs-immresize). This add `this.immediateResize = true;` to the blobs.If the hardware is capable supports, the value should be set to `true`, otherwise `false`.

https://github.com/blerchin/dma-20-mfa-show/blob/9

[2020-05-27 22:28] blerchin commented on #83
@hsab looks good. I can take a stab at the fps calculation. I don't think we actually want to involve react in that calculation. I was thinking of doing a wall clock count with a bit of averaging in the `onFrame` function, as this is what appears to run slowly.

[2020-05-27 22:29] hsab commented on #83
Also think perhaps we should have immediateResize set to true by default? Profiling should perhaps disable it rather than enabling.

[2020-05-27 23:29] #64 closed

[2020-05-28 02:34] hsab opened #87 "Mobile label hover and title switching"
There's a small issue with hovering over the label that  breaks the default behavior of fades and bg title switching.

I'm just gonna comment here to remember. Let's marge and I will tc of this later.
[code]
https://github.com/blerchin/dma-20-mfa-show/blob/28a7aa43aa9a88cbea454db01d92f0d73af3536e/src/BlobField/blobs.js#L111-L112

TODO:

- add idx to label,
- `if (this.balls[i].path !== event.targe

[2020-05-28 02:57] #87 closed

[2020-05-28 05:53] blerchin commented on #83
closed by #86

[2020-05-28 05:53] #83 closed

[2020-05-28 21:46] #11 closed

[2020-05-28 21:51] #3 closed

[2020-05-28 21:51] #4 closed

[2020-05-28 22:05] dalena commented on #5
@blerchin This subtitle issue in Firefox, can you tell me what exactly that is?

[2020-05-28 22:07] #82 closed

[2020-05-28 22:23] blerchin commented on #5
@dalena tbh I don’t remember, but I will take another look in a bit. I think they just didn’t show up? But I wasn’t sure if I was just being impatient or if it was one of the things fixed by your recent pr

[2020-05-28 22:42] blerchin commented on #5
@dalena seems fine now
<img width="1436" alt="Screen Shot 2020-05-28 at 4 06 58 PM" src="https://user-images.githubusercontent.com/1322328/83201205-d8a1ba80-a0f9-11ea-8a7b-c6baeb4d60bc.png">

[2020-05-29 00:58] hsab opened #95 "Update SEO for everyone"
[code]

[2020-05-29 01:00] lmccart commented on #95
I think I did this already?

[2020-05-29 01:00] lmccart commented on #95
oh not everybody! missing hirad, clara, blaine

[2020-05-29 01:07] dalena commented on #5
@blerchin thanks for checking!

[2020-05-29 02:37] hsab commented on #95
Nice! Didn't realize those were added. Ty!

[2020-05-29 04:56] BerfinA opened #96 "Phone interaction test"
On my artist page( on the phone) the video is cropped and also there is no option to enlarge the video or a button that appears to indicate to press play. On other pages the videos seem to work ok.

[2020-05-29 05:00] lmccart commented on #96
@BerfinA the lack of buttons is due to the autoplay functionality. i'm going to turn off autoplay so it works properly on mobile.

[2020-05-29 05:55] #65 closed

[2020-05-29 07:22] #95 closed

[2020-05-29 07:28] dalena opened #99 "Favicon Update"
Favicon Update to Current Blob Colors

[2020-05-29 08:45] #20 closed

[2020-05-29 08:56] hsab commented on #99
I can tc of this

[2020-05-29 08:56] hsab opened #100 "Update SEO rootURL"
https://github.com/blerchin/dma-20-mfa-show/blob/05ecd1661ffd4c655c3a0b822f7bfe7a9fb98d4c/src/Components/Seo/index.js#L7

[2020-05-29 12:44] #99 closed

[2020-05-29 12:50] #100 closed

[2020-05-29 17:54] BerfinA commented on #96
Thanks  @lmccart , now the titles are on the video like it was before.

[2020-05-29 18:04] blerchin opened #110 "Constant build failures due to rejected promises in LazyLoadImage"
![Screen Shot 2020-05-29 at 11 02 03 AM](https://user-images.githubusercontent.com/1322328/83290700-e9a30800-a19b-11ea-8690-25e6d30ba34f.png)

~~It seems overnight google decided our build bot was a bot (which it is) and has blocked requests from puppeteer. So the build fails every time requesting these images~~
Unclear why this issue started now, but images fail to load and stop the build process

[2020-05-29 18:36] dalena opened #112 "Several eyes proofreading Info page"
Can we all take a look at the info page and make sure the copy is correct? Artifacts from copy and pasting seem to be around. Clicking through the links and making sure they work would be helpful too.

[2020-05-29 18:37] dalena commented on #112
Erin mentioned an extra comma in her paragraph and the word "entire" will try to work on this later

[2020-05-29 19:39] blerchin opened #113 "Re-add Miles image functions"
Miles' images were set up to load from Google Drive to facilitate easy updating, and click-to-enlarge functionality.
Unfortunately adding large external assets causes puppeteer to timeout and fail the build when network conditions are not great. (today! for some reason!)
To avoid this problem and get deployment working again Miles' images have temporarily been switched to the normal webpack build

[2020-05-29 19:40] #110 closed

[2020-05-29 21:22] BerfinA opened #115 "website bug"
I had some people send me this
![WhatsApp Image 2020-05-29 at 14 20 44](https://user-images.githubusercontent.com/50386960/83306688-def66c00-a1b7-11ea-9615-c4fe5cb35217.jpeg)
)

[2020-05-30 04:11] hsab opened #121 "Inconsistent ProjectHeader Margins"
I've managed to narrow this down to #92

Adding the following to `.container` in `src/Components/ProjectHeader/style.module.scss` seems to be a solution
[code]

[2020-05-30 04:14] hsab commented on #121
closed by #122

[2020-05-30 04:14] #121 closed

[2020-05-30 04:15] hsab commented on #115
Can't tell what's going on. Seemed to be vimeo related? But I found another bug on your page that might be related

[2020-05-30 04:15] hsab opened #123 "Large top margin on Berfin's Page"
![Screenshot_20200529_211245](https://user-images.githubusercontent.com/11205091/83319244-8c39a600-a1f1-11ea-9c24-7dca494c286a.png)

[2020-05-30 15:15] blerchin commented on #123
this is a weird one. If you inspect the page you'll see that the iframe is actually being sized properly. When the video is playing, it fills the frame as expected. But the css vimeo uses to position their poster frame is a little wonky, and doesn't work in certain cases.

I think the best solution here would be to make our own poster frame that will cover the iframe, then hide and start the video

[2020-05-30 20:05] blerchin opened #125 "Collapsed blobs get "lost" during window resize"
![Screen Shot 2020-05-30 at 1 04 26 PM](https://user-images.githubusercontent.com/1322328/83338144-28a58c00-a276-11ea-9761-4e8a71233558.png)
Not sure why this is happening, but I've noticed mostly while doing responsive layout testing.

[2020-05-30 20:07] #96 closed

[2020-05-30 22:25] #113 closed

[2020-05-31 05:44] #123 closed

[2020-06-01 06:30] lemingzhong opened #127 "Remove the image from Leming's page"
Hi~ I had so many friends who had trouble finding my video, so I wonder if I can remove the image from the top and just show my video and description there. I think it will make viewer easier to navigate. Thank you for the help!

[2020-06-01 17:00] dalena commented on #127
Hi @lemingzhong I just saw this let me see if I can help

[2020-06-01 17:05] #112 closed

[2020-06-01 17:08] dalena commented on #127
Hi @lemingzhong you should see the video at the top now. I'm closing this issue.

[2020-06-01 17:08] #127 closed